In [1]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [2]:
file_path_2023 = 'Recources/2023.xlsx'
df_2023 = pd.read_excel(file_path_2023)

file_path_2022 = 'Recources/2022.xlsx'
df_2022 = pd.read_excel(file_path_2022)

file_path_2021 = 'Recources/2021.xlsx'
df_2021 = pd.read_excel(file_path_2021)

file_path_2020 = 'Recources/2020.xlsx'
df_2020 = pd.read_excel(file_path_2020)

file_path_2019 = 'Recources/2019.xlsx'
df_2019 = pd.read_excel(file_path_2019)

file_path_2018 = 'Recources/2018.xlsx'
df_2018 = pd.read_excel(file_path_2018)

file_path_2017 = 'Recources/2017.xlsx'
df_2017 = pd.read_excel(file_path_2017)

file_path_2016 = 'Recources/2016.xlsx'
df_2016 = pd.read_excel(file_path_2016)

file_path_2015 = 'Recources/2015.xlsx'
df_2015 = pd.read_excel(file_path_2015)

file_path_2014 = 'Recources/2014.xlsx'
df_2014 = pd.read_excel(file_path_2014)

file_path_2013 = 'Recources/2013.xlsx'
df_2013 = pd.read_excel(file_path_2013)

In [3]:
desired_columns_2023 = ['FIPS', 'State', 'County', '% Adults with Diabetes']
df_2023 = df_2023[desired_columns_2023]

desired_columns_2022 = ['FIPS', '% Adults with Diabetes']
df_2022 = df_2022[desired_columns_2022]

desired_columns_2021 = ['FIPS', '% Adults with Diabetes']
df_2021 = df_2021[desired_columns_2021]

desired_columns_2020 = ['FIPS', '% Adults with Diabetes']
df_2020 = df_2020[desired_columns_2020]

desired_columns_2019 = ['FIPS', '% Adults with Diabetes']
df_2019 = df_2019[desired_columns_2019]

desired_columns_2018 = ['FIPS', '% Adults with Diabetes']
df_2018 = df_2018[desired_columns_2018]

desired_columns_2017 = ['FIPS', '% Adults with Diabetes']
df_2017 = df_2017[desired_columns_2017]

desired_columns_2016 = ['FIPS', '% Adults with Diabetes']
df_2016 = df_2016[desired_columns_2016]

desired_columns_2015 = ['FIPS', '% Adults with Diabetes']
df_2015 = df_2015[desired_columns_2015]

desired_columns_2014 = ['FIPS', '% Adults with Diabetes']
df_2014 = df_2014[desired_columns_2014]

desired_columns_2013 = ['FIPS', '% Adults with Diabetes']
df_2013 = df_2013[desired_columns_2013]

In [4]:
year_2023 = '2023'

year_2022 = '2022'

year_2021 = '2021'

year_2020 = '2020'

year_2019 = '2019'

year_2018 = '2018'

year_2017 = '2017'

year_2016 = '2016'

year_2015 = '2015'

year_2014 = '2014'

year_2013 = '2013'

In [5]:
column_name= '% Adults with Diabetes'

new_column_name_2023 = f'{year_2023}_{column_name}'  # Modify the column name accordingly
df_2023.rename(columns={column_name: new_column_name_2023}, inplace=True)

new_column_name_2022 = f'{year_2022}_{column_name}'  # Modify the column name accordingly
df_2022.rename(columns={column_name: new_column_name_2022}, inplace=True)

new_column_name_2021 = f'{year_2021}_{column_name}'  # Modify the column name accordingly
df_2021.rename(columns={column_name: new_column_name_2021}, inplace=True)

new_column_name_2020 = f'{year_2020}_{column_name}'  # Modify the column name accordingly
df_2020.rename(columns={column_name: new_column_name_2020}, inplace=True)

new_column_name_2019 = f'{year_2019}_{column_name}'  # Modify the column name accordingly
df_2019.rename(columns={column_name: new_column_name_2019}, inplace=True)

new_column_name_2018 = f'{year_2018}_{column_name}'  # Modify the column name accordingly
df_2018.rename(columns={column_name: new_column_name_2018}, inplace=True)

new_column_name_2017 = f'{year_2017}_{column_name}'  # Modify the column name accordingly
df_2017.rename(columns={column_name: new_column_name_2017}, inplace=True)

new_column_name_2016 = f'{year_2016}_{column_name}'  # Modify the column name accordingly
df_2016.rename(columns={column_name: new_column_name_2016}, inplace=True)

new_column_name_2015 = f'{year_2015}_{column_name}'  # Modify the column name accordingly
df_2015.rename(columns={column_name: new_column_name_2015}, inplace=True)

new_column_name_2014 = f'{year_2014}_{column_name}'  # Modify the column name accordingly
df_2014.rename(columns={column_name: new_column_name_2014}, inplace=True)

new_column_name_2013 = f'{year_2013}_{column_name}'  # Modify the column name accordingly
df_2013.rename(columns={column_name: new_column_name_2013}, inplace=True)

In [6]:
df_2023

       FIPS    State      County  2023_% Adults with Diabetes
0      1000  Alabama         NaN                         13.0
1      1001  Alabama     Autauga                         10.6
2      1003  Alabama     Baldwin                          9.7
3      1005  Alabama     Barbour                         15.6
4      1007  Alabama        Bibb                         12.2
...     ...      ...         ...                          ...
3188  56037  Wyoming  Sweetwater                          7.9
3189  56039  Wyoming       Teton                          6.3
3190  56041  Wyoming       Uinta                          7.8
3191  56043  Wyoming    Washakie                          8.0
3192  56045  Wyoming      Weston                          7.8

[3193 rows x 4 columns]

In [7]:
df_merged = pd.merge(df_2022, df_2023, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2021, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2020, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2019, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2018, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2017, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2016, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2015, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2014, on='FIPS', how='left')
df_merged = pd.merge(df_merged, df_2013, on='FIPS', how='left')

df_merged

,FIPS,2022_% Adults with Diabetes,State,County,2023_% Adults with Diabetes,2021_% Adults with Diabetes,2020_% Adults with Diabetes,2019_% Adults with Diabetes,2018_% Adults with Diabetes,2017_% Adults with Diabetes,2016_% Adults with Diabetes,2015_% Adults with Diabetes,2014_% Adults with Diabetes,2013_% Adults with Diabetes
0,1000,12.2,Alabama,NaN,13.0,14.5,14.2,NaN,NaN,NaN,NaN,NaN,NaN,12.657063
1,1001,11.2,Alabama,Autauga,10.6,12.7,11.1,14.2,12.4,13.0,10.9,12.1,11.8,12.300000
2,1003,9.4,Alabama,Baldwin,9.7,10.3,10.7,11.3,11.1,10.4,10.9,11.5,11.8,11.400000
3,1005,16.5,Alabama,Barbour,15.6,17.5,17.6,18.0,18.2,18.4,15.3,14.8,14.2,14.000000
4,1007,12.7,Alabama,Bibb,12.2,13.6,14.5,14.9,14.6,14.8,12.5,12.7,11.1,11.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,8.3,Wyoming,Sweetwater,7.9,8.3,8.8,8.4,7.9,8.1,7.6,7.6,7.1,6.800000
3189,56039,6.6,Wyoming,Teton,6.3,2.4,2.2,4.2,4.5,4.8,6.8,4.3,3.9,4.000000
3190,56041,8.3,Wyoming,Uinta,7.8,10.3,11.3,9.3,10.0,9.0,8.3,8.2,7.4,7.000000
3191,56043,8.9,Wyoming,Washakie,8.0,10.7,11.7,10.9,11.5,12.0,10.5,9.7,8.5,8.800000
3192,56045,8.3,Wyoming,Weston,7.8,11.1,9.0,9.4,10.2,10.0,9.1,8.5,8.3,7.400000

In [8]:
df_merged.dropna(subset=['FIPS'], inplace=True)

df_merged['FIPS'] = df_merged['FIPS'].astype(str).str.zfill(5)

df_merged['2013_% Adults with Diabetes'] = df_merged['2013_% Adults with Diabetes'].round(1)

columns = df_merged.columns.tolist()

columns.insert(4, columns.pop(1))

df_merged = df_merged[columns]

df_merged

,FIPS,State,County,2023_% Adults with Diabetes,2022_% Adults with Diabetes,2021_% Adults with Diabetes,2020_% Adults with Diabetes,2019_% Adults with Diabetes,2018_% Adults with Diabetes,2017_% Adults with Diabetes,2016_% Adults with Diabetes,2015_% Adults with Diabetes,2014_% Adults with Diabetes,2013_% Adults with Diabetes
0,01000,Alabama,NaN,13.0,12.2,14.5,14.2,NaN,NaN,NaN,NaN,NaN,NaN,12.7
1,01001,Alabama,Autauga,10.6,11.2,12.7,11.1,14.2,12.4,13.0,10.9,12.1,11.8,12.3
2,01003,Alabama,Baldwin,9.7,9.4,10.3,10.7,11.3,11.1,10.4,10.9,11.5,11.8,11.4
3,01005,Alabama,Barbour,15.6,16.5,17.5,17.6,18.0,18.2,18.4,15.3,14.8,14.2,14.0
4,01007,Alabama,Bibb,12.2,12.7,13.6,14.5,14.9,14.6,14.8,12.5,12.7,11.1,11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,7.9,8.3,8.3,8.8,8.4,7.9,8.1,7.6,7.6,7.1,6.8
3189,56039,Wyoming,Teton,6.3,6.6,2.4,2.2,4.2,4.5,4.8,6.8,4.3,3.9,4.0
3190,56041,Wyoming,Uinta,7.8,8.3,10.3,11.3,9.3,10.0,9.0,8.3,8.2,7.4,7.0
3191,56043,Wyoming,Washakie,8.0,8.9,10.7,11.7,10.9,11.5,12.0,10.5,9.7,8.5,8.8
3192,56045,Wyoming,Weston,7.8,8.3,11.1,9.0,9.4,10.2,10.0,9.1,8.5,8.3,7.4

In [9]:
start_pos = 3
end_pos = 13

columns = df_merged.columns.tolist()

subset_columns = columns[start_pos:end_pos+1]

subset_columns.reverse()

columns[start_pos:end_pos+1] = subset_columns

df_merged = df_merged[columns]

df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes
0,01000,Alabama,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,14.2,14.5,12.2,13.0
1,01001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6
2,01003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7
3,01005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6
4,01007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9
3189,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3
3190,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8
3191,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0
3192,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8

In [10]:
output_directory = 'output_directory_path'

In [11]:
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

In [12]:
output_filename = 'diabetes_data.xlsx'

In [13]:
output_file = os.path.join(output_directory, output_filename)

In [14]:
df_merged.to_excel(output_file, index=False)

In [15]:
print(f"df_merged exported to: {output_file}")

df_merged exported to: output_directory_path\diabetes_data.xlsx

In [16]:
df_merged.fillna(0, inplace=True)

df_merged = df_merged[df_merged.iloc[:, 2] != 0]

In [17]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes
1,01001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6
2,01003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7
3,01005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6
4,01007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2
5,01009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9
3189,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3
3190,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8
3191,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0
3192,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8

In [19]:
print(df_merged.dtypes)

FIPS                            object
State                           object
County                          object
2013_% Adults with Diabetes    float64
2014_% Adults with Diabetes    float64
2015_% Adults with Diabetes    float64
2016_% Adults with Diabetes    float64
2017_% Adults with Diabetes    float64
2018_% Adults with Diabetes    float64
2019_% Adults with Diabetes    float64
2020_% Adults with Diabetes    float64
2021_% Adults with Diabetes    float64
2022_% Adults with Diabetes    float64
2023_% Adults with Diabetes    float64
dtype: object

In [20]:
X = df_merged.iloc[:, 3:12]  
y = df_merged['2023_% Adults with Diabetes']

In [21]:
X_encoded = pd.get_dummies(X, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [22]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = model.predict(X_test)

In [24]:
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 1.5476751150046169

In [25]:
output_directory = 'output_directory_path'
output_filename = 'predictions_2023.xlsx'
output_file = os.path.join(output_directory, output_filename)

In [26]:
predictions_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
predictions_df.to_excel(output_file, index=False)
print(f"Predictions exported to: {output_file}")

Predictions exported to: output_directory_path\predictions_2023.xlsx

In [27]:
# Predict values for 2024
copied_df_2024 = df_merged.copy()

In [28]:
X_2024 = copied_df_2024.iloc[:, 3:13]

In [29]:
X_2024_encoded = pd.get_dummies(X_2024, drop_first=True)
X_2024_encoded = X_2024_encoded.reindex(columns=X_train.columns, fill_value=0)

In [30]:
y_pred_2024 = model.predict(X_2024_encoded)

In [31]:
copied_df_2024['2024_% Adults with Diabetes'] = y_pred_2024

In [32]:
output_filename_2024 = 'predictions_2024.xlsx'
output_file_2024 = os.path.join(output_directory, output_filename_2024)
copied_df_2024.to_excel(output_file_2024, index=False)
print(f"Predictions for 2024 exported to: {output_file_2024}")

Predictions for 2024 exported to: output_directory_path\predictions_2024.xlsx

In [33]:
output_directory = 'output_directory_path'
output_filename = 'copied_df_2024.xlsx'
output_file = os.path.join(output_directory, output_filename)

copied_df_2024.to_excel(output_file, index=False)
print(f"DataFrame exported to: {output_file}")

DataFrame exported to: output_directory_path\copied_df_2024.xlsx

In [34]:
copied_df_2024

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes,2024_% Adults with Diabetes
1,01001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6,9.780404
2,01003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7,10.564932
3,01005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6,13.043211
4,01007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2,11.295679
5,01009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9,10.758091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9,7.591718
3189,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3,6.801080
3190,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8,8.763076
3191,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0,9.692843
3192,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8,8.854439

In [35]:
# Predict values for 2025
input_file = 'output_directory_path/copied_df_2024.xlsx'
df_merged = pd.read_excel(input_file)

In [36]:
X = df_merged.iloc[:, 3:13].values  # Features from 2013 to 2023
y = df_merged.iloc[:, 14].values    # Target variable for 2024 (Column 15)

In [37]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [38]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [39]:
features_2025 = df_merged.iloc[:, 4:14].values  # Features from 2014 to 2024
features_2025_scaled = scaler.transform(features_2025)

In [40]:
predictions_2025 = model.predict(features_2025_scaled)

In [41]:
df_merged['2025_% Adults with Diabetes'] = predictions_2025

In [42]:
mse = mean_squared_error(y, model.predict(X_scaled))
print("Mean Squared Error:", mse)

Mean Squared Error: 3.5968303786501734e-29

In [43]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes,2024_% Adults with Diabetes,2025_% Adults with Diabetes
0,1001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6,9.780404,12.491562
1,1003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7,10.564932,10.002921
2,1005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6,13.043211,15.247688
3,1007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2,11.295679,12.545925
4,1009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9,10.758091,11.373637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9,7.591718,8.105041
3138,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3,6.801080,6.795874
3139,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8,8.763076,7.695964
3140,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0,9.692843,10.232822
3141,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8,8.854439,9.192763

In [44]:
output_file = 'output_directory_path/copied_df_2025.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_2025.xlsx

In [45]:
# Predict values for 2026
input_file = 'output_directory_path/copied_df_2025.xlsx'
df_merged = pd.read_excel(input_file)

In [46]:
X = df_merged.iloc[:, 3:14].values  # Features from 2013 to 2024
y = df_merged.iloc[:, 15].values    # Target variable for 2025 (Column 15)

In [47]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [48]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [49]:
features_2026 = df_merged.iloc[:, 4:15].values  # Features from 2014 to 2025
features_2026_scaled = scaler.transform(features_2026)

In [50]:
predictions_2026 = model.predict(features_2026_scaled)

In [51]:
df_merged['2026_% Adults with Diabetes'] = predictions_2026

In [52]:
mse = mean_squared_error(y, model.predict(X_scaled))
print("Mean Squared Error:", mse)

Mean Squared Error: 8.189971116276985e-30

In [53]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes,2024_% Adults with Diabetes,2025_% Adults with Diabetes,2026_% Adults with Diabetes
0,1001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6,9.780404,12.491562,10.258057
1,1003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7,10.564932,10.002921,10.161268
2,1005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6,13.043211,15.247688,15.847638
3,1007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2,11.295679,12.545925,13.240248
4,1009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9,10.758091,11.373637,14.352544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9,7.591718,8.105041,8.231881
3138,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3,6.801080,6.795874,4.582562
3139,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8,8.763076,7.695964,10.187038
3140,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0,9.692843,10.232822,11.146691
3141,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8,8.854439,9.192763,9.128577

In [54]:
output_file = 'output_directory_path/copied_df_2026.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_2026.xlsx

In [55]:
# Predict values for 2027
input_file = 'output_directory_path/copied_df_2026.xlsx'
df_merged = pd.read_excel(input_file)

In [56]:
X = df_merged.iloc[:, 3:15].values  # Features from 2013 to 2024
y = df_merged.iloc[:, 16].values    # Target variable for 2025 (Column 15)

In [57]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [58]:
model = LinearRegression()
model.fit(X_scaled, y)

LinearRegression()

In [59]:
features_2027 = df_merged.iloc[:, 4:16].values  # Features from 2014 to 2026
features_2027_scaled = scaler.transform(features_2027)

In [60]:
predictions_2027 = model.predict(features_2027_scaled)

In [61]:
df_merged['2027_% Adults with Diabetes'] = predictions_2027

In [62]:
mse = mean_squared_error(y, model.predict(X_scaled))
print("Mean Squared Error:", mse)

Mean Squared Error: 1.6232934663639415e-28

In [63]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes,2024_% Adults with Diabetes,2025_% Adults with Diabetes,2026_% Adults with Diabetes,2027_% Adults with Diabetes
0,1001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6,9.780404,12.491562,10.258057,13.133283
1,1003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7,10.564932,10.002921,10.161268,10.907406
2,1005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6,13.043211,15.247688,15.847638,15.090203
3,1007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2,11.295679,12.545925,13.240248,12.639454
4,1009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9,10.758091,11.373637,14.352544,11.685044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9,7.591718,8.105041,8.231881,7.923096
3138,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3,6.801080,6.795874,4.582562,5.432701
3139,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8,8.763076,7.695964,10.187038,8.876995
3140,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0,9.692843,10.232822,11.146691,9.974967
3141,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8,8.854439,9.192763,9.128577,10.412717

In [64]:
df_merged.iloc[:, 14:18] = df_merged.iloc[:, 14:18].round(1)

In [65]:
output_file = 'output_directory_path/copied_df_2027.xlsx'
df_merged.to_excel(output_file, index=False)
print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to output_directory_path/copied_df_2027.xlsx

In [66]:
df_merged

,FIPS,State,County,2013_% Adults with Diabetes,2014_% Adults with Diabetes,2015_% Adults with Diabetes,2016_% Adults with Diabetes,2017_% Adults with Diabetes,2018_% Adults with Diabetes,2019_% Adults with Diabetes,2020_% Adults with Diabetes,2021_% Adults with Diabetes,2022_% Adults with Diabetes,2023_% Adults with Diabetes,2024_% Adults with Diabetes,2025_% Adults with Diabetes,2026_% Adults with Diabetes,2027_% Adults with Diabetes
0,1001,Alabama,Autauga,12.3,11.8,12.1,10.9,13.0,12.4,14.2,11.1,12.7,11.2,10.6,9.8,12.5,10.3,13.1
1,1003,Alabama,Baldwin,11.4,11.8,11.5,10.9,10.4,11.1,11.3,10.7,10.3,9.4,9.7,10.6,10.0,10.2,10.9
2,1005,Alabama,Barbour,14.0,14.2,14.8,15.3,18.4,18.2,18.0,17.6,17.5,16.5,15.6,13.0,15.2,15.8,15.1
3,1007,Alabama,Bibb,11.8,11.1,12.7,12.5,14.8,14.6,14.9,14.5,13.6,12.7,12.2,11.3,12.5,13.2,12.6
4,1009,Alabama,Blount,12.6,14.0,13.2,11.7,14.1,14.4,14.3,17.0,14.6,11.4,10.9,10.8,11.4,14.4,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,6.8,7.1,7.6,7.6,8.1,7.9,8.4,8.8,8.3,8.3,7.9,7.6,8.1,8.2,7.9
3138,56039,Wyoming,Teton,4.0,3.9,4.3,6.8,4.8,4.5,4.2,2.2,2.4,6.6,6.3,6.8,6.8,4.6,5.4
3139,56041,Wyoming,Uinta,7.0,7.4,8.2,8.3,9.0,10.0,9.3,11.3,10.3,8.3,7.8,8.8,7.7,10.2,8.9
3140,56043,Wyoming,Washakie,8.8,8.5,9.7,10.5,12.0,11.5,10.9,11.7,10.7,8.9,8.0,9.7,10.2,11.1,10.0
3141,56045,Wyoming,Weston,7.4,8.3,8.5,9.1,10.0,10.2,9.4,9.0,11.1,8.3,7.8,8.9,9.2,9.1,10.4